<h3>Users</h3>

<%= link_to "Return to movie listing", movies_path %></br>
<%= link_to "Add user", new_admin_user_path %>

</br></br>
<%= paginate @users %>
</br>

<table style="width:100%">
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Member Since</td>
		<td>Administrator?</td>
		<td>Switch to user </td>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to "#{user.firstname} #{user.lastname}", "/admin/users/#{user.id}/" %></td>
			<td><%= user.email %></td>
			<td><%= formatted_date(user.created_at) %></td>
			<td><%= user.admin ? 'yes': 'no' %></td>
			<td><%= link_to "switch", admin_switch_user_path(user) %>
		</tr>
	<% end %>
</table>
</br>